@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');
@import url('https://fonts.cdnfonts.com/css/old-english-five');

body {
  background-color: #212529;
  user-select: none;
}

hr.rounded {
  border-top: 2px solid #bbb;
  border-radius: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

#center-point {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #0d0f10;
  border-radius: 50%;
}

#center-rotation {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.lines-radar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: 2px solid green;
  border-radius: 50%;
}

#line1{
  width: 50%;
  height: 50%;
}

#line2{
  width: 75%;
  height: 75%;
}

#container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#cfg-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.campo-row {
  display: flex;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  margin-right: 5px;
  outline: none;
  padding: 5px;
}

::placeholder {
  color: rgb(192, 191, 191);
  opacity: 1;
}

button {
  width: 200px;
  height: 30px;
  background-color: green;
  border: 0px;
  border-radius: 5px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: small;
}

#startFlightButton{
  width: 305px;
}

.rastreamento button{
  background-color: rgb(210, 1, 1);
  font-size: 12px;
  width: 180px;
}

.selected {
  color: red;
}

#radar {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  border: 8px solid #0d0f10;
  font-weight: bold;
  position: relative;
  margin-top: 25px;
  margin-bottom: 10px;
  background-color: rgb(0, 90, 0);
  background-image: linear-gradient(to right, green 2px, transparent 2px), linear-gradient(to bottom, green 2px, transparent 2px);
  background-size: 49.7% 49.7%;
}

.plane {
  width: 16px;
  height: 16px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: center;
}

.plane svg {
  width: 100%;
  height: auto;
}

.info-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  cursor: pointer;
  margin: 0 10px;
  user-select: all;
}

.info-div span {
  font-size: x-small;
  font-family: 'Roboto', sans-serif;
  color: white;
  margin-top: 5px;
  user-select: none;
}

.godmod-container {
  display: flex;
  justify-content: center;
}

#dataGrid {
  flex: 1;
  margin: 20px;
  order: 1;
}

#radarContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

#godmod-div {
  display: none;
}

#notifications {
  flex: 1;
  margin: 20px;
  order: 3;
}

.table-wrapper {
  max-height: 360px;
  overflow-y: auto;
}

.table-wrapper thead {
  position: sticky;
  top: 0;
  background-color: #212529;
  z-index: 1;
}

.angle-info {
  position: absolute;
  color: white;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(0deg);
}

.angle-info:nth-child(1) {
  top: 50%;
  left: 105%;
}

.angle-info:nth-child(2) {
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.angle-info:nth-child(3) {
  top: 50%;
  left: -6%;
  transform: translate(-50%, -50%) rotate(0deg);
}

.angle-info:nth-child(4) {
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
}

#warningMessage {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  text-align: center;
  z-index: 9999;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
} 

@media screen and (max-width: 800px) {
  #dataGrid {
    order: 2;
  }

  #radarContainer {
    order: 1;
  }
}

@media screen and (max-width: 600px) {
  hr{
    display: none;
  }

  #cfg-container,
  #container,
  .info-container,
  #dataGrid,
  #notifications,
  #radar {
    display: none;
  }

  #warningMessage {
    display: block;
  }
}

.line {
  position: absolute;
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
  height: 0;
  border-top: 2px dashed white;
}

.line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 4px;
  height: 1px;
  background-color: white;
  transform-origin: 0 0;
  transform: scale(0.5);
}

.line:after {
  content: "";
  position: absolute;
  top: 0;
  left: 8px;
  width: 4px;
  height: 1px;
  background-color: white;
  transform-origin: 0 0;
  transform: scale(0.5);
}